{% extends 'hr/base.html'%}
{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}
{% block content%}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Welcome {{ request.user.username }}</h2>
        <a href="{% url 'create-job' %}" class ="btn btn-primary"> Create New Job</a>
    </div>

    <div class="row row-col-1 row-cols-md-2 g-4">
        {% for job in jobs %}
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">{{ job.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ job.loction }}</h6>
                        <p class="card-text"><small class="text-muted">Deadline :{{ job.deadline}}</small></p>
                        <p>
                            Public Apply Link: <br>
                             <a href="http://127.0.0.1:8000/applicants/apply/{{ job.slug }}/" target="_blank" class="text-decoration-none">
                            http://127.0.0.1:8000/applicants/apply/{{ job.slug }}/ </a>
                        </p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="{% url 'editjob' job.slug %}" class="btn btn-sm btn-outline-secondary">Edit</a>
                        <a href="{% url 'deletejob' job.slug %}" class="btn btn-sm btn-outline-danger">delete</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <p>No jobs found. <a href="{% url 'create-job' %}">Create a job</a>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.4.3/dist/js/bootstrap.bundle.min.js"></script>

    
{% endblock %}